<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<h1>The latest news</h1>

<% @messages.each do |message| %>
	<div class="entry">

        <h3><%= message.title %></h3>

	</div>
<% end %>

